In [ ]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from config import username, password
from sqlalchemy import create_engine 

# Connect to employees database
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/employees')
connection = engine.connect()

In [ ]:
# Query all salaries in ascending order to determine range
query = "SELECT salary FROM salaries ORDER BY salary;" 
salary_df = pd.read_sql(query, connection)
salary_df

In [ ]:
# Create bins for salary, $10K range increments
bins = [0, 49999, 59999, 69999, 79999, 89999, 99999, 109999, 119999, 130000]

# Create names for the nine salary ranges/bins
group_names = ["Up to $50K", "$50K", "$60K", "$70K", "$80K", "$90K", "$100K", "$110K", "$120K"]

# Assign salaries to salary range bins, group by bin, and count totals by range
salary_df["Salary Range"] = pd.cut(salary_df["salary"], bins, labels=group_names, include_lowest=True).copy()
salary_df = salary_df.groupby("Salary Range")
salary_bins = salary_df.count()
salary_bins

In [ ]:
# Plot histogram of salary ranges, and save image file
x_axis = np.arange(len(salary_bins))
plt.bar(x_axis, salary_bins['salary'], color="b", align="center", alpha=0.5);
tick_locations = [value for value in x_axis]
plt.xticks(tick_locations, group_names, rotation=45)

plt.title("Employee Count by Salary Range")
plt.xlabel("Salary Range");
plt.savefig("images/salary_ct_histogram.png", bbox_inches='tight')
plt.show()

In [ ]:
# Query average salary by title
query2 = "SELECT t.title, ROUND(AVG(s.salary)) \
    FROM salaries s \
    INNER JOIN employees e \
    ON s.emp_no = e.emp_no \
    INNER JOIN titles t \
    ON e.emp_title_id = t.title_id \
    GROUP BY t.title \
    ORDER BY ROUND;" 
avgs_df = pd.read_sql(query2, connection)
avgs_df

In [ ]:
# Plot salary average by title
index = np.arange(7)
bar_width = 0.5
fig, ax = plt.subplots()
avgsal = ax.barh(index, avgs_df['round'], bar_width, color="blue", alpha=0.5)
ax.set_xlabel('Salary Average')
ax.set_title('Salary Average by Title')
ax.set_yticks(index)
ax.set_yticklabels(avgs_df['title'])

plt.savefig("images/salary_avg_by_title.png", bbox_inches='tight')
plt.show()

In [ ]:
# Close connection to database
connection.close()